html{
  background-color: #FFFAFA;
}
.container{
  background-color: #FFFAFA;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: (5, 1fr);
  margin: 0 8rem;
  gap: 0.5rem;
}
.container__title{
  display: flex;
  justify-content: center;
}

.ulContainer__ul{
  background-color: #D2691E;
  list-style:none;
  padding-right: 0;
  display: flex;
  justify-content: space-around;
  margin-block-start: 0;
  padding-inline-start: 0;
  border-radius: 2rem;

}

.ul__li{
  padding: 0.5rem;
  cursor: pointer;
  color: #FFFAFA;
}
.ul__li:hover{
  background-color: antiquewhite;
}

.ul__li:active{
  background-color: antiquewhite;
}

.li__a{
  text-decoration: none;
  color: #FFFAFA;
}

.container__introduction{
  display: flex;
  justify-content: space-around;
}

.introduction__images{
  border-radius: 0.5rem;
}

.container__mypersonalinfo{
  display: flex;
  gap: 1rem;
}

.mypersonalinfo__imageContainer{
  padding: 0 1rem;
  
}

.mypersonalinfo__description{
  background-color: #D2691E;
  color: #FFFFFF;
  padding: 1rem;
  border-radius: 1rem ;
}

.imageContainer__image{
  border-radius: 2rem;
}
.container__cPictures{
  display: flex;
  padding: 2rem;
  border-radius: 1rem;
  border: 1rem;
  border-color: radial-gradient(circle, #FFB6C1, #FFFFFF);

}
.container__myProject{
  background-color: #D2691E;
  padding: 1rem;
  border-radius: 1rem;
  gap: 1rem;
}

.myProject__title{
  color: #FFFFFF;
}

.myProject__text{
  color: #FFFFFF;
}

.myProject__link{
  text-decoration: none;
  color: #FFFFFF;
}

.container__footer{
  background-color: #D2691E;
  border-radius: 0.2rem;
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;

}

@media (max-width:600px) {
  .container__footer{
    background-color: #D2691E;
    border-radius: 0.2rem;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 0.5rem;
  
  }
  .container__myProject{
    flex-wrap: wrap;
  }

  .container__cPictures{
    flex-wrap: wrap;
  }

  .container__introduction{
    flex-wrap: wrap;
  }
  
}

.footer__logos{
  border-radius: 3rem;
  padding: 0.5rem;
  margin: 0.5rem;
}

.logos__instagram{
  background-color: #FFFFFF;
  color: #D2691E;
}

.logos__facebook{
  background-color: #FFFAFA;
  color: #D2691E;
}

/* Movie´s section*/




.contenedor {
	width: 90%;
	max-width: 1000px;
	margin: 0 auto 0 auto;

	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 3rem;
}

.contenedor .pelicula {
	text-align: center;
}

.contenedor .pelicula .titulo {
	font-size: 16px;
	font-weight: 600;
}

.contenedor .pelicula .poster {
	width: 100%;
	margin-bottom: 10px;
	border-radius: 15px;
}

.paginacion {
	position: fixed;
	bottom: 0;
	background: #100a1f;
	width: 100%;
	display: flex;
	justify-content: center;
	gap: 20px;
	padding: 10px;
}

.paginacion__button {
	cursor: pointer;
	border: none;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	height: 40px;
	width: 200px;
	background: #241744;
	color: #fff;
	border-radius: 100px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	transition: .3s ease all;
}

.paginacion__button:hover {
	background: #137c32;
}

.container__videos{
  display: flex;
  justify-content: space-around;
  gap: 0.5rem;
}

.container__title2{
  background-color: blanchedalmond;
  padding: 1rem;
  border-radius: 0.5rem;
}

.videos__music{
  border-radius: 0.5rem;
}