html{
  background-color: #FFFAFA;
}
.container{
  background-color: #FFFAFA;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: (5, 1fr);
  margin: 0 8rem;
  gap: 2rem;
}
.container__title{
  display: flex;
  justify-content: center;
}

.ulContainer__ul{
  background-color: #D2691E;
  list-style:none;
  padding-right: 0;
  display: flex;
  justify-content: space-around;
  margin-block-start: 0;
  padding-inline-start: 0;
  border-radius: 2rem;

}

.ul__li{
  padding: 0.5rem;
  cursor: pointer;
  color: #FFFAFA;
}
.ul__li:hover{
  background-color: antiquewhite;
}

.ul__li:active{
  background-color: antiquewhite;
}

.container__introduction{
  display: flex;
  justify-content: space-around;
}

.introduction__images{
  border-radius: 0.5rem;
}

.container__mypersonalinfo{
  display: flex;
  gap: 1rem;
}

.mypersonalinfo__imageContainer{
  padding: 0 1rem;
  
}

.mypersonalinfo__description{
  background-color: #D2691E;
  color: #FFFFFF;
  padding: 1rem;
  border-radius: 1rem ;
}

.imageContainer__image{
  border-radius: 2rem;
}
.container__cPictures{
  display: flex;
  padding: 2rem;
  border-radius: 1rem;
  border: 1rem;
  border-color: radial-gradient(circle, #FFB6C1, #FFFFFF);

}
.container__myProject{
  background-color: #D2691E;
  padding: 1rem;
  border-radius: 1rem;
}

.myProject__title{
  color: #FFFFFF;
}

.myProject__text{
  color: #FFFFFF;
}

.myProject__link{
  text-decoration: none;
  color: #FFFFFF;
}

.container__footer{
  background-color: #D2691E;
  border-radius: 0.2rem;
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;

}

.footer__logos{
  border-radius: 3rem;
  padding: 0.5rem;
  margin: 0.5rem;
}

.logos__instagram{
  background-color: #FFFFFF;
  color: #D2691E;
}

.logos__facebook{
  background-color: #FFFAFA;
  color: #D2691E;
}