body{
    display: grid;
    grid-template-columns: 5% 95%;
    margin: 0;
    height: 100%;

}

.body__seconddiv{
    background-color: blueviolet;
}

@media (max-width:600px) {
    body{
        grid-template-columns: 8% 82%;
    }
}