.body__firstdiv{
    background-color: skyblue;
}

.firstdiv__menu{
    background-color: skyblue;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
.menu__logo{
    color: skyblue;
    background-color: #000814;
    border-radius: 50px;
    padding: 1rem;
    cursor: pointer;
   
    
}
.menu_cerrar{
    color: skyblue;
    background-color: #000814;
    border-radius: 50px;
    display: none;
    padding: 1rem;
    margin-top: auto;
    margin-bottom: auto;
    cursor: pointer;
}
@media (max-width:600px) {
    .menu__logo{
        display: none;
    }
    
}